.row.mt-2
    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        %h1.text-center Edit news article

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        = render 'search', news_item: @news_item,
          form_url: representative_new_my_news_item_path(@representative),
          form_method: :post,
          representative: @representative,
          representative_id: @representative_id,
          issue: @issue,
          news_list: @news_list
          rating_list: ['Good', 'Neutral', 'Bad']

    .col-12.col-md-6.offset-md-3.col-xl-4.offset-xl-4
        .clearfix.mt-3
            .float-right
                = link_to representative_news_items_path(@representative), class: 'btn btn-info' do
                    View news article
                    %i.fas.fa-arrow-right